    <event name="VehicleNehr_PickupLada_Simple">
        <nominal>8</nominal>
        <min>7</min>
        <max>13</max>
        <lifetime>300</lifetime>
        <restock>0</restock>
        <saferadius>500</saferadius>
        <distanceradius>500</distanceradius>
        <cleanupradius>200</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>mixed</limit>
        <active>1</active>
        <children> 
            <child lootmax="0" lootmin="0" max="13" min="7" type="Nehr_PickupLada_Simple"/>
        </children>
    </event>
    <event name="VehicleNehr_PickupLada">
        <nominal>4</nominal>
        <min>3</min>
        <max>8</max>
        <lifetime>300</lifetime>
        <restock>0</restock>
        <saferadius>500</saferadius>
        <distanceradius>500</distanceradius>
        <cleanupradius>200</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>mixed</limit>
        <active>1</active>
        <children> 
            <child lootmax="0" lootmin="0" max="8" min="3" type="Nehr_PickupLada"/>
            <child lootmax="0" lootmin="0" max="5" min="3" type="Nehr_PickupLada_Blue"/>
            <child lootmax="0" lootmin="0" max="5" min="3" type="Nehr_PickupLada_Green"/>
            <child lootmax="0" lootmin="0" max="5" min="3" type="Nehr_PickupLada_White"/>
            <child lootmax="0" lootmin="0" max="5" min="3" type="Nehr_PickupLada_Toxic"/>
            <child lootmax="0" lootmin="0" max="5" min="3" type="Nehr_PickupLada_Toxic_Blue"/>
            <child lootmax="0" lootmin="0" max="5" min="3" type="Nehr_PickupLada_Toxic_Green"/>
        </children>
    </event>
    </event>
        <event name="VehicleNehr_PickupLada_Police">
        <nominal>8</nominal>
        <min>7</min>
        <max>16</max>
        <lifetime>300</lifetime>
        <restock>0</restock>
        <saferadius>500</saferadius>
        <distanceradius>500</distanceradius>
        <cleanupradius>200</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>mixed</limit>
        <active>1</active>
        <children> 
            <child lootmax="0" lootmin="0" max="16" min="7" type="Nehr_PickupLada_Police"/>
        </children>
    </event>
    <event name="VehicleNehr_PickupLada_Fire">
        <nominal>9</nominal>
        <min>8</min>
        <max>14</max>
        <lifetime>300</lifetime>
        <restock>0</restock>
        <saferadius>500</saferadius>
        <distanceradius>500</distanceradius>
        <cleanupradius>200</cleanupradius>
        <flags deletable="0" init_random="0" remove_damaged="1"/>
        <position>fixed</position>
        <limit>mixed</limit>
        <active>1</active>
        <children> 
            <child lootmax="0" lootmin="0" max="12" min="8" type="Nehr_PickupLada_Fire"/>
        </children>
    </event>
